<!DOCTYPE html>
<html>
<!-- <table border="1"></table> -->
<head><title>Interview Results</title></head>
<body>
<h2>Interview Responses</h2>

<p> {{responses}}</p>
<!-- <tr>
<th>Candidate ID</th><th>Topic</th><th>Question</th><th>Response</th><th>Feedback</th><th>Time Taken (s)</th>
</tr>
{% for item in responses %}
<tr>
<td>{{ item.candidate_id }}</td>
<td>{{ item.topic }}</td>
<td>{{ item.question }}</td>
<td>{{ item.feedback }}</td>
</tr>   
{% endfor %} -->
</table>
</body>
</html>
